.mat-icon-button {
    flex: none;
}

.text {
    flex: auto;
}

input {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid black;
    font: inherit;
    width: 100%;
}

form {
    width: 100%;
}