<mat-card [style.background-color]="category.colour" class="cardCategory">
  <mat-card-title>

    <div class="buttons">
      <span class="material-icons" [(colorPicker)]="category.colour" [cpAlphaChannel]="'disabled'"
        [cpOutputFormat]="'hex'" (colorPickerChange)="onColorPickerChange($event)"
        (colorPickerClose)="onColorPickerClose($event)" [cpPresetColors]='presetColours'>color_lens</span>
      <button (click)='onClickPlusOne()' mat-icon-button>
        <mat-icon>exposure_plus_1</mat-icon>
      </button>
      <button (click)='onClickEdit()' mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
    </div>

    <div class="name">
      <form *ngIf="isEditMode" class="form" (ngSubmit)="onSubmit()">
        <input #name [(ngModel)]="category.name" value="{{category.name}}" name="inputCategory" (blur)="onSubmit()">
      </form>
      <span *ngIf="!isEditMode">{{category.name}}</span>
      <div matBadge={{category.points}} matBadgeOverlap="true" matBadgeColor="accent">&nbsp;</div>
    </div>

    <div class="buttons">
      <button (click)='onDelete(category)' mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </div>

  </mat-card-title>
  <mat-card-content>
    <app-topics-list [topics]='topics' [categoryId]='category.id' [topicBackground]='topicBackground'
      (deleteTopic)='deleteTopic($event)'></app-topics-list>
  </mat-card-content>
</mat-card>