<mat-card [style.background-color]="category.colour" class="cardCategory">
  <mat-card-title>
    <i class="material-icons" [(colorPicker)]="category.colour"
      (colorPickerClose)="onColourChange($event)">color_lens</i>
    {{category.name}}
    <button (click)='onDelete(category)' mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-title>
  <mat-card-content>
    <app-topics-list [topics]='topics' (deleteTopic)='deleteTopic($event)'></app-topics-list>
  </mat-card-content>
</mat-card>