<mat-card [style.background-color]="category.colour" class="cardCategory">
  <mat-card-header class="cardCategoryHeader">
    <input mat-card-avatar [(colorPicker)]="category.colour" [style.background]="category.colour" />
    <mat-card-title class="cardCategoryTitle">
      {{category.name}}
      <button (click)='onDelete(category)' mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-topics-list [topics]='topics' (deleteTopic)='deleteTopic($event)'></app-topics-list>
  </mat-card-content>
</mat-card>