.cardCategory {
    margin: 0px 0px 10px 0px;
}

.mat-card-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
}

.buttons, .name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.buttons {
    flex: none;
}

.name {
    flex: auto;
}

input {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid black;
    font: inherit;
    text-align: center;
    width: 100%;
}

form {
    flex: auto;
}