<div class="divMain" cdkDropListGroup>
    <div class="divColumn1">
        <app-new-topic (addTopic)='createTopic($event)'></app-new-topic>
        <app-topics-list [topics]='uncategorizedTopics' (deleteTopic)='deleteUncategorizedTopic($event)'></app-topics-list>
    </div>
    <div class="divColumn2">
        <app-new-category (addCategory)='createCategory($event)'></app-new-category>
        <app-categories-list [categories]='categories' (deleteCategory)='deleteCategory($event)' (deleteTopic)='deleteTopicInCategory($event)'></app-categories-list>
    </div>
</div>