.divOptions {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mat-raised-button {
    flex: auto;
    margin: 5px;
}

.mat-form-field {
    width:30px;
    height: 30px;
}

p {
    margin: 0px 10px;
}